{% extends 'base.html' %}

{% block title %}Business{% endblock %}

{% block jumbotitle %}Business{% endblock %}

{% block subtext %}Test Query for Business Data{% endblock %}

{% block content %}
  {% if data %}
    <table class="table table-light table-bordered table-sm table-striped text-center">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Category</th>
        <th scope="col">Address</th>
        <th scope="col">Ratings</th>
      </thead>
      <tbody>
        {% for row in data %}
          {% if row.address|length and row.categories|length %}
            <tr>
              <td>{{ row.name }}</td>
              <td>{{ row.city }}</td>
              <td>{{ row.categories }}</td>
              <td>{{ row.address }}</td>
              <td>{{ row.stars }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

  {% else %}

    <form action="{{ url_for('business') }}" method="post" id="form1">

          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-lg" for="name">Name</label>
            <div class="col-sm-6">
              <input class="form-control form-control-lg" name="name" placeholder="Name of the store">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-lg" for="city">City</label>
            <div class="col-sm-6">
              <input type="text" class="form-control form-control-lg" name="city" placeholder="Brooklyn, San Mateo, Austin ..." >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-lg" for="state">State</label>
            <div class="col-sm-6">
              <input type="text" class="form-control form-control-lg" name="state" placeholder="CA, California ..." >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-lg" for="ratings">Ratings</label>
            <div class="col-sm-6">
              <input type="text" class="form-control form-control-lg" name="ratings" placeholder="5 stars?" >
            </div>
          </div>
        </form>

        <button type="submit" class="btn btn-primary" value="submit" form="form1">Submit</button>
  {% endif %}
{% endblock %}
