{% extends 'base.html' %}

{% block title%}
  Home
{% endblock %}

{% block jumbotitle %}
  <h1 class="display-4"><span style="color:#353a44">Critiquel</span></h1>
{% endblock %}

{% block subtext %}
  Critiquel, as the name suggests, is a crowd sourced review aggregation site, just like Yelp. People can look for information about any business, reviews left by other users and find places by filtering them through their ratings. To get started, navigate to our business page from the navigation bar.
{% endblock %}
