{% extends 'base.html' %}

{% block title%}
  Home
{% endblock %}

{% block jumbotitle %}
  <h1 class="display-4"><span style="color:#353a44">Critiquel</span></h1>
{% endblock %}

{% block subtext %}
  Critiquel is a review web app that has tonnes of user reviews on all things, provided by Yelp and hosted by MongoDB. From restaurants to theatres to grocery shops, you name it, we have it. So go ahead, explore it and give it a try.
{% endblock %}

{% block content %}
  <h1>Content goes here.</h1>
{% endblock %}
