{% extends 'base.html' %}

{% block title%}
  R&R
{% endblock %}

{% block jumbotitle %}
  <h1 class="display-4"><span style="color:#353a44">Reviews And Ratings</span></h1>
{% endblock %}

{% block subtext %}
  Here, you can search for business by specified amount of reviews and particular number of stars. The city field is optional.
{% endblock %}

{% block content %}
  {% if data %}
    {% if data.count() == 0 %}
      <div class="jumbotron">
        <h3><span style="color:#353a44">No record found for the place. Please check your input.</span></h3>
      </div>
    {% else %}
      <div class="jumbotron">
        <h3><span style="color:#353a44">Following businesses found...</span></h3>
      </div>
      <table class="table table-light table-bordered table-sm table-striped text-center">
        <thead>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
        </thead>
        <tbody>
          {% for row in data %}
            <tr>
              <td>{{ row['name'] }}</td>
              <td>{{ row['address'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

  {% else %}

    <form action="{{ url_for('business_more_than_x_reviews_y_stars') }}" method="post" id="form1">

          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-lg" for="review">Review</label>
            <div class="col-sm-6">
              <input class="form-control form-control-lg" name="review" placeholder="Number of reviews" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-lg" for="rating">Rating</label>
            <div class="col-sm-6">
              <input class="form-control form-control-lg" name="rating" placeholder="1-5 scale." required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-lg" for="city">City</label>
            <div class="col-sm-6">
              <input class="form-control form-control-lg" name="city" placeholder="Location">
            </div>
          </div>

        <button type="submit" class="btn btn-primary" value="submit" form="form1">Submit</button>
  {% endif %}
{% endblock %}